<!DOCTYPE html>
<html lang="ro">
    <head>
        <link rel="stylesheet" href="resources/css/custom-bootstrap.css" type="text/css">
        <%- include("../fragments/head.ejs") %>

        <title>Istoria magazinului</title>
        <meta name="keywords" content="istorie, an, muzică">
        <meta name="description" content="Istoria magazinului AllMuzica.">
    </head>

    <body>
        <%- include("../fragments/header.ejs") %>

        <main>
            <video playsinline autoplay muted loop poster="resources\img\index\poster_2.png" id="bgvid">
                <source src="resources\vid\record_shop.mp4" type="video/mp4">
            </video>

            <div class="mt-4 py-3 px-4 bg-primary rounded text-center"> <% var text = "Istoria magazinului AllMuzica" %> 
                <h2 class="mb-0 reflex-text">
                    <%- text %>
                    <div class="reflex-text-shadow">
                        <%- text %>
                    </div>
                </h2>
                <p>Câteva idei despre cum magazinul nostru a devenit realitate...</p>
            </div>
            
            <div class="mt-4 row text-center justify-content-center">
                <div class="col-3">
                    <div class="card border-0">
                        <div class="card-img-top duotone-img">
                        </div>
                        <div class="card-body bg-primary">
                            <h3 class="card-title">Începuturi</h3>
                            <p class="card-text">Totul a început în anul 2009. Eram o echipă mică, formată din doar trei oameni, dornici de a deschide un magazin umplut cu tot ce se poate legat de muzică. Lucrurile au mers destul de prost la început, din lipsă de bani și de organizare, dar asta nu ne-a făcut să ne pierdem interesul!</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card border-0">
                        <div class="card-img-top duotone-img duotone-img-2">
                        </div>
                        <div class="card-body bg-primary">
                            <h3 class="card-title">Upgrades</h3>
                            <p class="card-text">În 2012, am reușit să strângem destui bani (și să luăm câteva împrumuturi de la entități dubioase) pentru a ne muta într-o nouă locație, mult mai mare decât cea inițială, și pentru a ne extinde un pic mai mult echipa, care la acel moment număra 20 de indivizi!</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card border-0">
                        <div class="card-img-top duotone-img duotone-img-3">
                        </div>
                        <div class="card-body bg-primary">
                            <h3 class="card-title">Astăzi</h3>
                            <p class="card-text">Astăzi, AllMuzica este unul dintre cele mai de succes magazine de muzică din țară. Echipa noastră este foaaarte mare (aprox. 100 de angajați), deținem mai multe sedii în principalele orașe ale României și suntem mai „în formă” ca oricând!</p>
                        </div>
                    </div>
                </div>
        </main>

        <%- include("../fragments/footer.ejs")  %> 
    </body>
</html>