<!DOCTYPE html>
<html lang="ro">
    <head>
        <%- include("../fragments/head.ejs") %>

        <title>AllMuzica - magazin online de muzică</title>
        <meta name="keywords" content="muzică, audio, magazin, România, merchandise, artiști">
        <meta name="description" content="AllMuzica este magazinul unde găsești tot ce înseamnă muzică, de la albumele artiștilor tăi preferați, până la îmbrăcăminte reprezentativă sau device-uri de redare audio de ultimă generație!">
    </head>

    <body>
        <%- include("../fragments/header.ejs") %>

        <% if(!locals.utilizator) { %>
            <form id="form_inreg"  method="post" class="date"  action="/login"  enctype="multipart/form-data">
                <p>
                    <label>
                        Username: <input type="text" name="username" id="inp-username" value="" required pattern="[A-Za-z0-9]+">
                    </label>
                </p>
                <p>
                    <label>
                        Parola: <input id="parl" type="password" required  name="parola" value="">
                    </label>
                </p>
                <p><input type="submit" value="Logare"></p>
            </form>
            <% } else {%>
               <%- locals.eroareLogin %>
            <% }  %>


        <main>
            <div id="grid">
                <section id="desc">
                    <h2><span class="fa-solid fa-volume-high fa-shake"></span> AllMuzica - magazin de muzică</h2>

                    <figure>
                        <picture>
                            <source srcset="/resources/img/index/jukebox_small.jpg" media="(max-width: 700px)">
                            <source srcset="/resources/img/index/jukebox_med.jpg" media="(max-width: 1300px)">
                            <img src="/resources/img/index/jukebox_max.jpg" alt="Imagine cu vynil">
                        </picture>
                        <figcaption>Pick-up cu vinyl-uri</figcaption>
                    </figure>

                    <p><em>Bine ai venit pe AllMuzica</em>, magazinul online de muzică numărul 1 <s>(cel puțin după noi)</s> din România! Aici poți găsi foarte ușor răspunsul la trei mari întrebări legate de domenul muzicii: <em>ce ascult</em>, <em>cum ascult</em> și <em>cum fac să vadă toată lumea că ascult ce am zis că ascult?</em></p>
                    <p>Pentru a putea să-ți răspundem la aceste întrebări, ți-am pregătit o gamă largă de produse la un preț avantajos (<i>mostly</i>), ce abia așteatpă să fie cumpărate de tine:</p>
                    
                    <article>
                        <h3><span class="fa-solid fa-music fa-beat"></span> Albume</h3>
                        <p><em>Le avem pe toate</em> de la muzică clasică ce-ți provoacă emoții profunde și te transpune pe un alt plan al existenței umane, până la muzică <i>noise</i> și electronică ce sună ca o ceartă dintre o jucărie de plastic cu bateriile pe terminate și un blender care încearcă să facă un smoothie din pietre. Muzică în limba engleză, limba română și orice altă limbă la care te poți gândi (în curând, <i>huttese</i> și <i>klingoniană</i>).</p>
                    </article>

                    <article>
                        <h3><span class="fa-solid fa-vest-patches fa-flip"></span> Merchandise</h3>
                        <p><q><a href="https://www.azlyrics.com/lyrics/zztop/sharpdressedman.html" target="_blank">'Cause every girl's crazy 'bout a sharp dressed man.</a></q> Deși versurile legendare de la ZZ Top se referă strict la bărbați, noi credem că treaba asta este valabilă pentru toată lumea. Tricouri, șepci, hanorace, încălțări, dar și brățări, insigne, lanțuri, inele: iată căteva exemple din <em>gama largă de chestii de la artiștii tăi favoriți</em> pe care le are magazinul nostru, disponibile într-o tonă de mărimi și forme, pentru orice conformație umană <s>(și nu numai &#128125;)</s> de pe planeta asta. <i>Get the drip.</i></p>
                    </article>

                    <article>
                        <h3><span class="fa-solid fa-headphones fa-spin"></span> Device-uri</h3>
                        <p>Artiștii de pretutindeni stau ore întregi în studio încercând să-și perfecționeze meșteșugul și modul în care se vor auzi operele lor de artă (majoritatea, cel puțin). Pentru ca munca lor să nu fie în zadar, îți oferim <em>ultimele produse în materie de redare audio</em> pe care le putem oferi, pentru ca tu să te bucuri de muzică exact așa cum au intenționat creatorii săi.</p>
                    </article>
                    
                    <p>Nu trebuie să ne crezi pe cuvânt: <em>răsfoiește și tu catalogul nostru variat</em> și convinge-te singur de ce ți-am zis! <s>(și nu uita să cumperi ceva)</s></p>
                    <p id="gift">P.S. Pentru că suntem de treabă, iți oferim <strong>GRATIS</strong>...o poză cu un manechin dubios care ascultă muzică la căști. Și arde. <br> <a href="resources/img/index/fireman.jpg" download>Descarcă. (555 KB)</a></p>
                </section>
    
                <section id="oferte">
                    <div>
                        <table id="tabel_oferte">
                            <caption>Oferte speciale la toate categoriile de produse!</caption>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th colspan="5">Reduceri</th>
                                </tr>
                                <tr>
                                    <th rowspan="2">Catgeorie produse</th>
                                    <th>-10%</th>
                                    <th>-15%</th>
                                    <th>-30%</th>
                                    <th>-50%</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Albume</td>
                                    <td>
                                        <figure>
                                            <img src="resources/img/placeholders/album_cover.jpg" alt="Cover album">
                                            <figcaption>Produs</figcaption>
                                            <div>9.99 RON</div>
                                        </figure>
                                    </td>
                                    <td>
                                        <figure>
                                            <img src="resources/img/placeholders/album_cover.jpg" alt="Cover album">
                                            <figcaption>Produs</figcaption>
                                            <div>9.99 RON</div>
                                        </figure>
                                    </td>
                                    <td>
                                        <figure>
                                            <img src="resources/img/placeholders/album_cover.jpg" alt="Cover album">
                                            <figcaption>Produs</figcaption>
                                            <div>9.99 RON</div>
                                        </figure>
                                    </td>
                                    <td>
                                        <figure>
                                            <img src="resources/img/placeholders/album_cover.jpg" alt="Cover album">
                                            <figcaption>Produs</figcaption>
                                            <div>9.99 RON</div>
                                        </figure>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Merch</td>
                                    <td>
                                        <figure>
                                            <img src="resources/img/placeholders/album_cover.jpg" alt="Cover album">
                                            <figcaption>Produs</figcaption>
                                            <div>9.99 RON</div>
                                        </figure>
                                    </td>
                                    <td>
                                        <figure>
                                            <img src="resources/img/placeholders/album_cover.jpg" alt="Cover album">
                                            <figcaption>Produs</figcaption>
                                            <div>9.99 RON</div>
                                        </figure>
                                    </td>
                                    <td>
                                        <figure>
                                            <img src="resources/img/placeholders/album_cover.jpg" alt="Cover album">
                                            <figcaption>Produs</figcaption>
                                            <div>9.99 RON</div>
                                        </figure>
                                    </td>
                                    <td>
                                        <figure>
                                            <img src="resources/img/placeholders/album_cover.jpg" alt="Cover album">
                                            <figcaption>Produs</figcaption>
                                            <div>9.99 RON</div>
                                        </figure>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Device-uri</td>
                                    <td>
                                        <figure>
                                            <img src="resources/img/placeholders/album_cover.jpg" alt="Cover album">
                                            <figcaption>Produs</figcaption>
                                            <div>9.99 RON</div>
                                        </figure>
                                    </td>
                                    <td>
                                        <figure>
                                            <img src="resources/img/placeholders/album_cover.jpg" alt="Cover album">
                                            <figcaption>Produs</figcaption>
                                            <div>9.99 RON</div>
                                        </figure>
                                    </td>
                                    <td>
                                        <figure>
                                            <img src="resources/img/placeholders/album_cover.jpg" alt="Cover album">
                                            <figcaption>Produs</figcaption>
                                            <div>9.99 RON</div>
                                        </figure>
                                    </td>
                                    <td>
                                        <figure>
                                            <img src="resources/img/placeholders/album_cover.jpg" alt="Cover album">
                                            <figcaption>Produs</figcaption>
                                            <div>9.99 RON</div>
                                        </figure>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Altele</td>
                                    <td>
                                        <figure>
                                            <img src="resources/img/placeholders/album_cover.jpg" alt="Cover album">
                                            <figcaption>Produs</figcaption>
                                            <div>9.99 RON</div>
                                        </figure>
                                    </td>
                                    <td>
                                        <figure>
                                            <img src="resources/img/placeholders/album_cover.jpg" alt="Cover album">
                                            <figcaption>Produs</figcaption>
                                            <div>9.99 RON</div>
                                        </figure>
                                    </td>
                                    <td>
                                        <figure>
                                            <img src="resources/img/placeholders/album_cover.jpg" alt="Cover album">
                                            <figcaption>Produs</figcaption>
                                            <div>9.99 RON</div>
                                        </figure>
                                    </td>
                                    <td>
                                        <figure>
                                            <img src="resources/img/placeholders/album_cover.jpg" alt="Cover album">
                                            <figcaption>Produs</figcaption>
                                            <div>9.99 RON</div>
                                        </figure>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>Perioada reduceri</td>
                                    <td colspan="3"><time datetime="P5D">Pana pe 9.11.2022</time></td>
                                    <td colspan="2"><time datetime="P3D">Pana pe 7.11.2022</time></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </section>

                <section id="calendar">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus arcu odio, vestibulum tristique justo convallis tempor. Nam vitae mi dolor. Nulla facilisi. Nam a vehicula felis. Quisque nisl risus, semper sed pulvinar in, sodales ac sapien. Praesent non auctor justo, non varius nibh. Mauris eget neque at mi semper finibus sit amet non dui. Duis sed arcu urna. Sed vel lacus leo. Morbi magna arcu, tincidunt id lorem ut, placerat imperdiet risus. Morbi eleifend eu turpis gravida consectetur. Nunc dapibus ex eu lectus placerat tristique. Etiam accumsan, ligula vitae vulputate scelerisque, justo arcu aliquam orci, in consequat quam ex eget purus. Duis ut felis id felis posuere efficitur eget consequat dolor. Vestibulum sed lacus mi. Vestibulum feugiat rhoncus quam. </p>
                </section>

                <section id="anunturi">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus arcu odio, vestibulum tristique justo convallis tempor. Nam vitae mi dolor. Nulla facilisi. Nam a vehicula felis. Quisque nisl risus, semper sed pulvinar in, sodales ac sapien. Praesent non auctor justo, non varius nibh. Mauris eget neque at mi semper finibus sit amet non dui. Duis sed arcu urna. Sed vel lacus leo. Morbi magna arcu, tincidunt id lorem ut, placerat imperdiet risus. Morbi eleifend eu turpis gravida consectetur. Nunc dapibus ex eu lectus placerat tristique. Etiam accumsan, ligula vitae vulputate scelerisque, justo arcu aliquam orci, in consequat quam ex eget purus. Duis ut felis id felis posuere efficitur eget consequat dolor. Vestibulum sed lacus mi. Vestibulum feugiat rhoncus quam. </p>
                </section>

                <section id="users">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus arcu odio, vestibulum tristique justo convallis tempor. Nam vitae mi dolor. Nulla facilisi. Nam a vehicula felis. Quisque nisl risus, semper sed pulvinar in, sodales ac sapien. Praesent non auctor justo, non varius nibh. Mauris eget neque at mi semper finibus sit amet non dui. Duis sed arcu urna. Sed vel lacus leo. Morbi magna arcu, tincidunt id lorem ut, placerat imperdiet risus. Morbi eleifend eu turpis gravida consectetur. Nunc dapibus ex eu lectus placerat tristique. Etiam accumsan, ligula vitae vulputate scelerisque, justo arcu aliquam orci, in consequat quam ex eget purus. Duis ut felis id felis posuere efficitur eget consequat dolor. Vestibulum sed lacus mi. Vestibulum feugiat rhoncus quam. </p>
                </section>

                <section id="stats">
                    <h2>Date despre utilizatori</h2>
                    <p>IP-ul tău (știm, e un pic creepy): <i><%- locals.ip%></i></p>
                </section>

                <section id="data">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus arcu odio, vestibulum tristique justo convallis tempor. Nam vitae mi dolor. Nulla facilisi. Nam a vehicula felis. Quisque nisl risus, semper sed pulvinar in, sodales ac sapien. Praesent non auctor justo, non varius nibh. Mauris eget neque at mi semper finibus sit amet non dui. Duis sed arcu urna. Sed vel lacus leo. Morbi magna arcu, tincidunt id lorem ut, placerat imperdiet risus. Morbi eleifend eu turpis gravida consectetur. Nunc dapibus ex eu lectus placerat tristique. Etiam accumsan, ligula vitae vulputate scelerisque, justo arcu aliquam orci, in consequat quam ex eget purus. Duis ut felis id felis posuere efficitur eget consequat dolor. Vestibulum sed lacus mi. Vestibulum feugiat rhoncus quam. </p>
                </section>

                <section id="other">
                    <section id="faq">
                        <h2>Întrebări (mai mult sau mai puțin) frecvente</h2>
                        <details>
                            <summary>De unde a apărut magazinul ăsta?</summary>
                            <p>Vezi pe <a href="history">pagina noastră de istorie</a>.</p>
                        </details>
                        <details>
                            <summary>Ce mă oprește să cumpăr de la alt magazin de genul?</summary>
                            <p>Gândul că am fi foarte supărați &#128532;. Asta și faptul că dacă manechinul din <a href="#gift">poza</a> oferită cadou ar exista în realitate <s>și ar ști cu o precizie milimetrică unde stai</s>, ar fi foarte supărat și el &#128532;.</p>
                        </details>
                        <details>
                            <summary>Unde vă pot contacta?</summary>
                            <p>Mijloacele prin care ne poți contacta se află permanent în subsolul fiecărei pagini a site-ului.</p>
                        </details>
                        <details>
                            <summary>Glumeați în legătură cu manechinul, nu?</summary>
                            <p><a href="resources/img/index/fireman_scary.jpg">Da.</a></p>
                        </details>
                    </section>
                    
                    <section id="vids">
                        <h2>Videoclipuri reprezentative</h2>
                        <p>Dacă ar fi să alegem câte un videoclip care să reprezinte <i>vibe</i>-ul chestiilor pe care le poți cumpăra de la noi, iată ce am alege:</p>
                        <div>
                            <div id="links">
                                <a target="vidframe" href="https://www.youtube.com/embed/Bjqmg_7J53s" class="tablink">Albume</a>
                                <a target="vidframe" href="https://www.youtube.com/embed/rPTqc_S-Rck" class="tablink">Merch</a>
                                <a target="vidframe" href="https://www.youtube.com/embed/U2RJt5mkb4w" class="tablink">Device-uri</a>
                            </div>
                            <iframe name="vidframe" width="560" height="315" src="https://www.youtube.com/embed/Bjqmg_7J53s" title="Videoclip reprezentativ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </section>

                    <%- include("../fragments/galery.ejs") %>
                </section>
            </div>
        </main>

        <%- include("../fragments/footer.ejs") %> 
    </body>
</html>