<!DOCTYPE html>
<html lang="ro">
    <head>
        <link rel="stylesheet" href="resources/css/custom-bootstrap.css" type="text/css">
        <%- include("../fragments/head.ejs") %>

        <title>Produse</title>
        <meta name="keywords" content="produse, albume, merchandise, device-uri">
        <meta name="description" content="Produsele magazinului AllMuzica">

        <script type="text/javascript" src="/resources/js/products.js"></script>
    </head>

    <body>
        <%- include("../fragments/header.ejs") %>

        <main>
            <p class="text-center" id="filter-error"></p>
            <section id="filters">
                <div class="row justify-content-center">
                    <div class="border border-primary col-md-4 col-xl-3 text-center">
                        <label>Nume: <input type="text" id="inp-name" placeholder="Numele produsului..."></label>
                    </div>
                    <div class="border border-primary col-md-4 col-xl-2 text-center">
                        <label>Data adăugării:
                            <input class="w-75" list="datalist" id="inp-date" placeholder="zi/Luna/an">
                            <datalist id="datalist">
                                <% for (let data of locals.distinctVals["dates"]) { %>
                                    <option value="<%-data%>"><%-data%></option>
                                <% } %> 
                            </datalist>
                        </label>
                    </div>  
                    <div class="border border-primary col-md-4 col-xl-2 text-center">
                        <label>Preț minim: 
                            <span id="min-price-min"></span>
                            <input class="form-range" type="range" id="inp-min-range">
                            <span id="min-price-max"></span>
                            <span id="min-price-value"></span>
                        </label>
                        <label>Preț maxim: 
                            <span id="max-price-min"></span>
                            <input class="form-range" type="range" id="inp-max-range">
                            <span id="max-price-max"></span>
                            <span id="max-price-value"></span>
                        </label>
                    </div>
                    <div class="border border-primary col-md-4 col-xl-3 text-center">
                        <div class="form-floating">
                            <textarea id="inp-descr" class="form-control bg-white w-75 text-dark" placeholder="Introdu (o parte din) descrierea produsului..."></textarea>
                            <label for="inp-desc">Descriere: </label>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="border border-primary col-md-4 col-xl-3 text-center">
                        <div id="inp-exp-node">Tip expediere:
                            <p><label>Orice tip
                                <input id="inp-r1" name="inp-exp" value="Orice" unchecked type="radio">
                            </label></p>
                            <p><label>Prin curier
                                <input id="inp-r2" name="inp-exp" value="Curier" unchecked type="radio">
                            </label></p>
                            <p><label>Prin poștă
                                <input id="inp-r3" name="inp-exp" value="Poștă" unchecked type="radio">
                            </label></p>
                            <p><label>De la centrul de distribuție
                                <input id="inp-r4" name="inp-exp" value="De la centrul de distribuție" unchecked type="radio">
                            </label></p>
                        </div>
                    </div>
                    <div class="border border-primary col-md-4 col-xl-2 text-center">
                        <label id="voucher-button" class="btn btn-primary active">
                            <input type="checkbox" id="inp-voucher" style="display: none" checked> Admite voucher? 
                        </label>
                    </div>
                    <div class="border border-primary col-md-4 col-xl-2 text-center">
                        <label>Culoare:
                            <select id="inp-color">
                                <option id="sel-all" selected value="Toate">Toate</option>
                                <% for (let color of locals.distinctVals["colors"]) { %>
                                    <option value="<%- color %>"><%- color %></option>    
                                <% } %>
                            </select>
                        </label>
                    </div>
                    <div class="border border-primary col-md-4 col-xl-3 text-center">
                        <label>Categorie gramaj:
                            <select id="inp-weight" multiple>
                                <option value="0:99">Mic (gramaj &lt; 100g)</option>
                                <option value="100:200">Mediu (100g &le; gramaj &le; 200g)</option>
                                <option value="201:100000">Mare (gramaj &gt; 200g)</option>
                            </select>
                        </label>
                    </div>
                </div>
            </section>

            <section class="text-center" id="buttons">
                <button type="button" id="filter" class="btn btn-primary">
                    <span name="test" class="bi bi-filter"></span>
                    Filtrează
                </button>
                <button type="button" id="sort1" class="btn btn-primary">
                    <span class="bi bi-arrow-up"></span>
                    Sortează crescător
                </button>
                <button type="button" id="sort-1" class="btn btn-primary">
                    <span class="bi bi-arrow-down"></span>
                    Sortează descrescător
                </button>
                <button type="button" id="sum" class="btn btn-primary">
                    <span class="bi bi-coin"></span>
                    Suma prețurilor
                </button>
                <button type="button" id="reset" class="btn btn-primary">
                    <span class="bi bi-arrow-repeat"></span>
                    Restează filtrele
                </button>
            </section>

            <section id="prods">
                <h2>Produse</h2>
                <div id="prods-grid">
                    <%  var i = -1
                        for (let prod of locals.products) {
                            i += 1 %>
                        <article class="prod" id = <%- "art" + prod.id %> >
                            <h3><a href="/product/<%- prod.id %>">
                                <span class="val-name"><%- prod.name %></span>
                            </a></h3>
                            <div id="prod-grid">
                                <img src= <%- prod.img_path %>>
                                <table>
                                    <tr>
                                        <td>Pret</td>
                                        <td id= <%- "prod-price-" + i %> ><span class="val-price"><%- prod.price %></span> RON</td>
                                    </tr>
                                    <tr>
                                        <td>Culoare</td>
                                        <td><span class="val-color"><%- prod.color %></span></td>
                                    </tr>
                                    <tr>
                                        <td>Detalii</td>
                                        <td>
                                            <% 
                                                switch (prod.category) { 
                                                case 'Albume': %>
                                                    An lansare: <%- prod.prod_details[0] %> <br>
                                                    Format: <%- prod.prod_details[1] %> <br>
                                                    Gen: <%- prod.prod_details[2] %> <br>
                                                <% break; 
                                                case 'Merchandise': %>
                                                    Gen: <%- prod.prod_details[0] %> <br>
                                                    Mărime: <%- prod.prod_details[1] %> <br>
                                                    Material: <%- prod.prod_details[2] %> <br>
                                                <% break;
                                                case 'Device-uri': %>
                                                    Conectivitate: <%- prod.prod_details[0] %> <br>
                                                    Tip: <%- prod.prod_details[1] %> <br>
                                                    Microfon: <%- prod.prod_details[2] %> <br>
                                                <% break; %>
                                            <% } %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Data adăugarii</td>
                                        <td>
                                            <time datetime = <%- prod.add_date %>>
                                                <%  let d = new Date(prod.add_date)
                                                    let months = ["Ianuarie", "Februarie", "Martie", "Aprilie", "Mai", "Iunie", "Iulie", "August", "Septembrie", "Octombrie", "Noiembrie", "Decembrie"]
                                                    let days = ["Luni", "Marți", "Miercuri", "Joi", "Vineri", "Sâmbătă", "Duminică"]
                                                    let full_date = d.getDate() + "/" + months[d.getMonth()] + "/" + d.getFullYear() + " (" + days[d.getDay()] + ")"
                                                %>
                                                <span class="val-date"><%- full_date %></span>
                                            </time>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Voucher aplicabil</td>
                                        <td>
                                            <span class="val-vouch">
                                            <% if (prod.voucher) { %>
                                                Da
                                            <% } else { %>
                                                Nu
                                            <% } %>
                                            </span>  
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <span style="display:none" class="val-exp"><%- prod.exp_type%></span>
                            <span style="display:none" class="val-weight"><%- prod.weight %></span>
                            <p>Categorie: <%- prod.category %></p>
                            <div class="accordion" id="accordionExample-<%- prod.id %>">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne-<%- prod.id %>">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-<%- prod.id %>" aria-expanded="true" aria-controls="collapseOne-<%- prod.id %>">
                                            Descriere
                                        </button>
                                    </h2>
                                    <div id="collapseOne-<%- prod.id %>" class="accordion-collapse collapse" aria-labelledby="headingOne-<%- prod.id %>" data-bs-parent="#accordionExample-<%- prod.id %>">
                                        <p class="accordion-body val-descr"><%- prod.description %></p>
                                    </div>
                                </div>    
                            </div>
                        </article>
                    <% } %>
                </div>
            </section>
        </main>

        <%- include("../fragments/footer.ejs") %>
    </body>
</html>